@import "../../GlobalStyles/color";

.app-bar {
    z-index: 10;
    position: relative;
    color: var(--text-color-primary);
    margin: auto 10%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    .app-bar-logo {
        cursor: pointer;
        svg {
            font-size: 1.5rem;
        }
        .app-bar-logo-text {
            font-size: 2rem;
            font-weight: bolder;
        }
    }

    .app-bar-tabs {
        display: flex;
        margin: {
            right: 140px;
        }
        .app-bar-tab {
            cursor: pointer;
            margin: 0 30%;
        }
    }
}
