@import "../../GlobalStyles/color";

.services {
    text-align: center;
    margin: 0 20%;
    .services-heading {
        color: var(--text-color-primary);
        font-size: 3rem;
        font-weight: bold;
    }
    .services-features {
        margin-top: 60px;
        background-color: var(--secondary-color);
        border-radius: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        .services-feature {
            cursor: pointer;
            width: 300px;
            height: 400px;
            box-shadow: 2px 2px 10px var(--text-color-primary);
            margin: 2% 2%;
            background-color: var(--primary-color);
            border-radius: 0.5rem;

            .service-feature-title {
                margin-top: 22px;
                font-size: 1.5rem;
                font-weight: bold;
                color: var(--text-color-primary);
            }
            .service-feature-text {
                margin: 28px auto;
                text-align: left;
                width: 200px;
                color: var(--text-color-primary);
            }
        }
    }
}
